#standardSQL

#
# Return the absolute value of the diff between the two timestamps in hours with microsecond precision
# If either parameter is null, return null
#
CREATE TEMP FUNCTION
  hours_diff_abs(timestamp1 TIMESTAMP,
    timestamp2 TIMESTAMP) AS ( ABS(TIMESTAMP_DIFF(timestamp1, timestamp2, microsecond) / 3600000000.0) );

WITH
  positions AS (
  SELECT
    ssvid,
    msgid,
    seg_id,
    lat,
    lon,
    speed,
    course,
    timestamp,
    LAG(timestamp, 1) OVER (PARTITION BY seg_id ORDER BY timestamp) prev_timestamp,
    nnet_score,
    distance_from_port_m,
    distance_from_shore_m,
    elevation_m,
    lower(source) as source
  FROM
    `{{ source }}`
  WHERE _table_suffix >= '{{ date_from }}' and _table_suffix < '{{ date_to }}'),
  pos_hours AS (
  SELECT
    *,
  IF
    (nnet_score > 0.5,
      hours,
      0) AS fishing_hours
  FROM (
    SELECT
      *,
      IFNULL (hours_diff_abs (timestamp,
          prev_timestamp),
        0) hours
    FROM
      positions ) )

# Return
SELECT
  lat,
  lon,
  speed,
  course,
  timestamp,
  hours,
  nnet_score,
  seg_id,
  ssvid,
  distance_from_port_m,
  distance_from_shore_m,
  elevation_m,
  source
FROM
  pos_hours
